$colorText: rgba(0, 0, 0, .6)
*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif

html, body 
    height: 100%

.container 
    margin: 0 auto
    max-width: 1000px
    padding: 0 2%

header 
    background-image: url(images/bg.jpg)
    background-size: cover
    background-repeat: no-repeat  
    height: 500px
    margin-bottom: 50px

    .topHeader
        display: flex
        justify-content: space-between

        .logo 
            color: #fff
            margin-top: 25px

        .menu

            ul   
                display: flex
                justify-content: space-between
                align-items: center
                list-style: none

                li
                    padding: 30px
                    color: #fff
                    text-decoration: none
                    font-size: 15px
                    font-weight: bold
                    cursor: pointer
                    transition: all .2s

                    &:hover
                        color: #ff5f27

        .menuMobile
            display: none
            color: #fff
            font-size: 35px
            margin-top: 22px
            cursor: pointer

    .chamadaHeader
        text-align: left
        margin-top: 100px
        max-width: 450px

        h2
            font-size: 40px
            font-weight: bold
            color: #fff
            margin-bottom: 20px
        
        p
            font-size: 18px
            color: #fff
            line-height: 1.5
            margin-bottom: 20px

        input[type="text"]
            border: none
            border-radius: 20px
            padding: 10px
        
        input[type="submit"]
            border: none
            color: #fff
            background-color: #ff5f27
            padding: 10px 20px
            border-radius: 20px
            cursor: pointer

section.sobre
    .container > p
        
        text-align: center
        max-width: 600px
        margin: 0 auto 
        color: rgba(0, 0, 0, .7)
        line-height: 1.5
        font-size: 18px
        font-style: italic

        b
            color: #000

    .flexSobre
        display: flex
        justify-content: space-between
        align-items: center
        margin: 100px auto

        .text
            text-align: left
            max-width: 500px

            h2
                color: rgba(0, 0, 0, .7)
                font-size: 20px
                line-height: 1.5
                margin-bottom: 30px

            p 
                color: rgba(0, 0, 0, .6)
                font-size: 16px
                line-height: 1.5
                margin-bottom: 50px

    .img 
        max-width: 460px
        max-height: 310px

        img
            width: 100%
            height: 100%
            // filter: drop-shadow(0px 16px 10px rgba(0,0,0,0.6))
    .imgSobre
        max-width: 1000px
        max-height: 350px

        img
            width: 100%
            height: 100%

    .textBox
        text-align: left
        max-width: 400px
        width: auto
        height: auto
        background-color: #fff
        padding: 30px
        box-shadow: 0px 0px 50px rgba(0,0,0,0.3)
        position: relative
        left: 450px
        bottom: 150px

        h2
            font-size: 25px
            font-weight: bold
            margin-bottom: 10px
        
        p
            font-size: 16px
            color: rgba(0, 0, 0, .6)
            line-height: 1.4

section.produtos
    .container
        .title
            margin: 0 auto 30px auto
            text-align: center
            font-size: 15px

            i
                font-size: 25px
                margin-top: 10px  
        
        .flexProdutos
            display: flex
            flex-wrap: wrap
            justify-content: center
            .box
                margin: 5px
                height: auto
                max-width: 300px
                width: 100%
                box-shadow: 0px 0px 30px rgba(0,0,0,0.2)

                img
                    width: 100%
                    height: auto

                .text
                    padding: 25px

                    h2
                        font-size: 18px
                        color: rgba(0, 0, 0, .9)
                        margin-bottom: 10px

                    p
                        color: $colorText
                        line-height: 1.3

                .button
                    border: 1px solid $colorText
                    width: auto
                    height: auto
                    padding: 10px 15px
                    border-radius: 30px
                    display: inline-block 
                    margin-top: 15px
                    color: $colorText
                    cursor: pointer

section.empresas
    margin-top: 50px
    .container
        background-color: #f6f6f6
        padding: 50px
        text-align: center

        h2
            font-size: 23px
            font-weight: normal
            margin-bottom: 30px

        .flexEmpresas
            display: flex
            justify-content: center
            align-items: center

            img
                margin: 20px 50px

                &:first-of-type
                    height: 46px

section.form
    margin-top: 100px
    .container
        h2
            text-align: center
            font-size: 28px
            color: rgba(0, 0, 0, .7)
            font-weight: normal
            margin-bottom: 30px

        form
            .input
                text-align: center
                margin-top: 10px

                span
                    font-size: 15px
                    color: $colorText
                    font-weight: bold
                    margin-right: 10px

                input
                    max-width: 400px
                    width: 100%
                    height: 40px
                    padding-left: 20px
                    border: 1px solid #3333334d
                    border-radius: 20px

                    &:focus
                        outline: none

                textarea
                    max-width: 400px
                    width: 100%
                    height: 100px
                    padding-left: 20px
                    border: 1px solid #3333334d
                    border-radius: 20px

                    &:focus
                        outline: none


                &:last-of-type
                    display: flex
                    justify-content: center

        input[type="submit"]
                    display: block
                    border: none
                    color: #fff
                    background-color: #ff5f27
                    padding: 10px 20px
                    border-radius: 20px
                    font-size: 18px
                    cursor: pointer
                    margin: 40px auto
                    text-align: center

@media screen and (max-width: 1000px)
    section.sobre
        .container
            .flexSobre
                flex-direction: column
                margin: 100px auto 20px auto

            .imgSobre
                img
                    display: none
            
            .textBox
                margin: 30px auto
                left: 0
                bottom: 0
                max-width: 800px
                width: 100%



@media screen and (max-width: 678px)
    header 

        .topHeader
            .menu
                display: none
            
            .menuMobile
                display: block

        .chamadaHeader
            text-align: center
            margin: 100px auto
            max-width: 100%

            h2, p, form
                text-align: center

            h2
                font-size: 35px
            
            p 
                font-size: 15px

    section.form
        .container
            form
                .input
                    &:last-of-type
                        flex-direction: column
                        margin: 10px auto

                    textarea
                        margin: 0 auto



            
